@model IEnumerable<SectorRegistrationIndexViewModel>
@*<div class="section-title center-block text-center">
            <h2>Services  </h2>

        </div>
    <div class="row">
        @foreach (var obj in Model)
        {
            <div class="col-xl-2 col-lg-1 col-md-3 col-sm-2">
                <div class="card">
                    <a asp-area="Admin" asp-controller="Home" asp-action="businessDetails" asp-route-sectorid="@obj.id">
                        <div class="card-body">
                            <div class="cat-item text-center">

                                <div class="cat-img category-svg">

                                    @if (obj.img == null || obj.img == "")
                                    {
                                        <img src="~/uploads/blank1.jpg" alt="img" >
                                    }
                                    else
                                    {
                                        <img src="@obj.img" alt="img" >
                                    }

                                </div>
                                <div class="cat-desc">
                                    <h5 class="mb-0">
                                        @obj.name


                                    </h5>
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
            </div>
        }
        <div class="col-12 text-center">
            <a asp-area="Admin" asp-controller="Home" asp-action="Category" class="btn btn-primary mt-5 pl-6 pr-6">View More</a>
        </div>
    </div>*@
@*<link href="~/Frontwebsitedesign/css/theme.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <div id="DivCategories" class="gl-cats-boxes" style="height: 100%; padding: 60px 0;">
    </div>
    <script type="text/javascript" src="~/Frontwebsitedesign/js/Dflt.js"></script>*@
<link href="~/Frontwebsitedesign/css/theme.css" rel="stylesheet" type="text/css" />
<!-- End Alexa Certify Javascript -->
<!--Structured Data Code-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<input name="txtHdnCityId" type="hidden" id="txtHdnCityId" value="0" />
<input name="HdnCityName" type="hidden" id="HdnCityName" value="0" />
<input name="HdnCityIDNew" type="hidden" id="HdnCityIDNew" value="0" />
<input name="txtHdnCountryId" type="hidden" id="txtHdnCountryId" value="1" />
<input type="hidden" id="txtHdnAreaId" value="0" />
<div style="display: none;" id="imgload" class="ldimg">
</div>

<main class="gl-main">
    <div id="main">
         
        <div class="gt-homepage">
            <div class="row">
                <section class="gl-cats">
                    <div class="container">
                        @*<div class="gl-searchbar-con gl-flex expand-all" style="display: none;">
                            <div class="gl-inpfield expand hasicon selectfield">
                                <i class="fa fa-map-pin inpicon"></i>
                                <input name="txtActCity" type="text" id="txtActCity" readonly="readonly" value="Select City" class="form-control" onclick="javascript:divCities();return false;" />
                                <div id="divcity" style="width: 100%" class="layer">
                                    <div>
                                        <input type="text" id="txtCity" autocomplete="off" class="form-control" onkeyup="javascript:return showSeletedCity(event)"
                                               onfocus="javascript:setFocus(this,'Type City')" onblur="javascript:outFocus(this,'Type City')" />
                                    </div>
                                    <div id="divAllCities" class="layerContents cl bdrColor">
                                    </div>
                                </div>
                            </div>
                            <div class="gl-inpfield expand selectfield hide-sm">
                                <input type="text" id="txtArea" readonly="readonly" value="Any Area" class="form-control"
                                       onclick="javascript:divArea()" />
                                <div style="width: 100%" id="divArea" class="layer">
                                    <div>
                                        <input type="text" id="txtTempArea" autocomplete="off" class="fl form-control"
                                               onfocus="javascript:setFocus(this,'Type Area')" onblur="javascript:outFocus(this,'Type Area')"
                                               onkeyup="javascript:showSeletedArea(event)" />
                                    </div>
                                    <div id="divAllArea" class="layerContents bdrColor">
                                    </div>
                                </div>
                            </div>
                            <div class="gl-inpfield expand">
                                <div class="input-group">
                                    <div id="txtCityDiv">
                                        <input type="text" name="textfield" autocomplete="Off" onkeypress="javascript:return GoToNamingSearch(event);"
                                               onfocus="javascript:setFocus(this,'Search by Business Name, Product Name or Service');hideArea()"
                                               onblur="javascript:outFocus(this,'Search by Business Name, Product Name or Service')"
                                               onkeyup="javascript:shwRst(this.value, event); stopHere();" id="txt_srctxt" maxlength="80"
                                               class="search_txtBox form-control" />
                                    </div>
                                </div>
                                <div id="livesearch" class="livesearch cl">
                                </div>
                            </div>
                            <div class="gl-inpbutton">
                                <div onmouseover="javascript:ShowContent('uniquename3'); return true;" onmouseout="javascript:HideContent('uniquename3'); return true;"
                                     class="hideContent fr">
                                    <input type="button" class="btn btn-default home-srchBtn gl-btn gl-btn-primary uppercase" name="search" onclick="javascript:return GoToNamingSearch(event)"
                                           onkeyup="javascript:return GoToNamingSearch(event)" id="Button1" value="Search" />
                                    <div id="uniquename3" class="fr">
                                        Search by Business, Product and Service.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gl-title">
                        </div>*@
                        <div id="DivCategories1" class="gl-cats-boxes" style="height: 100%; padding: 60px 0;">
                            @foreach (var obj in Model)
                            {

                            <div class="gl-cats-box _1">
                                <span class="gl-cats-icon">
                                    <a asp-area="Admin" asp-controller="Home" asp-action="businessDetails" asp-route-sectorid="@obj.id">
                                        <img src='@obj.img' alt='category' width='75'>
                                    </a>

                                </span>
                                <h4 class='gl-cats-title'>
                                    <a asp-area="Admin" asp-controller="Home" asp-action="businessDetails" asp-route-sectorid="@obj.id">
                                        @obj.name
                                    </a>


                                </h4>
                            </div>
                            @* <div class="gl-cats-submenu _1">
                                    <h4 class="gl-cats-submenu-title">
                                        <a asp-area="Admin" asp-controller="Home" asp-action="businessDetails" asp-route-sectorid="@obj.id">
                                            @obj.name
                                        </a>


                                    </h4>
                                    <nav class="gl-cats-submenu-nav">
                               <div onClick="javascript:clickDiv('" +CityName.replace( / /g,'-')+"','"+cityIdCategory+"','Travel-Agents')" class="gl-cats-submenu-link">Travel Agents </div>
        <div onClick="javascript:clickDiv('" +CityName.replace( / /g,'-')+"','"+cityIdCategory+"','Family-Tour-Packages')" class="gl-cats-submenu-link">Family Tour Packages </div>
        <div onClick="javascript:clickDiv('" +CityName.replace( / /g,'-')+"','"+cityIdCategory+"','International-Tour-Packages')" class="gl-cats-submenu-link">International Tour Packages </div>
        <div onClick="javascript:clickDiv('" +CityName.replace( / /g,'-')+"','"+cityIdCategory+"','Domestic-Tour-Packages')" class="gl-cats-submenu-link">Domestic Tour Packages </div>
        <div onClick="javascript:clickDiv('" +CityName.replace( / /g,'-')+"','"+cityIdCategory+"','Honeymoon-Tour-Packages')" class="gl-cats-submenu-link">Honeymoon Tour Packages</div>
                                    </nav>
                        </div>*@


                                }




                        </div>


                         
                    </div>
                </section>
            </div>
            @*<div id="divScript" class="none">
                <script type="text/javascript" language="javascript">var Countries = [["1", "India"], ["10", "USA"]];</script>
            </div>*@
        </div>
        </div>
</main>
@*<script type="text/javascript" src="~/Frontwebsitedesign/js/Dflt.js"></script>*@



@*<script type="text/javascript">
    getLocation();
    function getLocation() {
        var value = document.getElementById('txtActCity').value.trim();
        if (value.toUpperCase() == 'SELECT CITY') {
            geoFindMe();
        }
    }
    function geoFindMe() {
        var output = document.getElementById("out");
        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        function success(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            //   output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';
            var urlnew = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latitude + '%2C' + longitude + '&key=AIzaSyAk0qng6it4CgTLmj2d144QIjcinfiXEE8';
            $.ajax({
                type: "GET",
                url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latitude + '%2C' + longitude + '&key=AIzaSyAk0qng6it4CgTLmj2d144QIjcinfiXEE8',
                dataType: "json",
                success: processJSON
            }).success(function (data) {
                processJSON(data);
            });
        }
        function processJSON(json) {
            document.getElementById("HdnCityName").value = json.results[0].address_components[4].long_name;
            //   alert(document.getElementById("HdnCityName").value);
            // alert("Postal Code:" + json.results[0].address_components[4].long_name);
        }
        function error() {
            output.innerHTML = "Unable to retrieve your location";
        }
        output.innerHTML = "<p>Locating…</p>";
        navigator.geolocation.getCurrentPosition(success, error);
    }
</script>
<script type="text/javascript">
    jQuery(window).scroll(function () {
        var scroll = jQuery(window).scrollTop();
        if (scroll >= 50) {
            jQuery("body").addClass("gl-header-shrink");
        } else {
            jQuery("body").removeClass("gl-header-shrink");
        }
    });
    jQuery(document).ready(function () {
        jQuery('.glmenu').click(function () {
            jQuery('body').toggleClass('showmenu');
        });
        jQuery('.gl-menus-close').click(function () {
            jQuery('body').removeClass('showmenu');
        });
        jQuery('.gl-cats-box').click(function () {
            var submenu = jQuery(this);
            submenu.toggleClass('active');
            submenu.siblings().removeClass('active');
        });
    });
</script>*@

  