@model EditBusinessDetails;
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_front.cshtml";
}




<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">My Dashboard</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">My Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Breadcrumb-->
<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">My Dashboard</h3>
                    </div>
                    <div class="card-body text-center item-user">
                        <div class="profile-pic">
                            @{
                                string userName = TempData["userName"].ToString();
                                string profilephoto = TempData["profilephoto"].ToString();

                                TempData.Keep("userName");
                                TempData.Keep("profilephoto");
                            }
                            <div class="profile-pic-img">
                                @*<span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>*@
                                <img src="@profilephoto" class="brround" alt="user">
                            </div>
                            <a href="#" class="text-dark"><h4 class="mt-3 mb-0 font-weight-semibold">@userName</h4></a>
                        </div>
                    </div>
                    <partial name="_customerDashboardMenu" />

                </div>
                @*<div class="card my-select">
                        <div class="card-header">
                            <h3 class="card-title">Search Listings</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control keywords-input" id="text" placeholder="What are you looking for?">
                            </div>
                            <div class="form-group">
                                <select name="country" id="select-countries" class="form-control custom-select select2-show-search">
                                    <option value="1" selected="">All Categories</option>
                                    <option value="2">RealEstate</option>
                                    <option value="3">Restaurant</option>
                                    <option value="4">Beauty</option>
                                    <option value="5">Jobs</option>
                                    <option value="6">Services</option>
                                    <option value="7">AutoMobile</option>
                                    <option value="8">Education</option>
                                    <option value="9">Electronics</option>
                                    <option value="10">Pets &amp; Animals</option>
                                    <option value="11">Computer</option>
                                    <option value="12">Mobile</option>
                                    <option value="13">Events</option>
                                    <option value="14">Travel</option>
                                    <option value="15">Clothing</option>
                                </select>
                            </div>
                            <div class="">
                                <a href="#" class="btn btn-block btn-secondary">Search</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-xl-0">
                        <div class="card-header">
                            <h3 class="card-title">Safety Tips For Buyers</h3>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li class="">
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Meet Seller at public Place
                                </li>
                                <li class="">
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Check item before you buy
                                </li>
                                <li class="">
                                    <i class="fa fa-check text-success" aria-hidden="true"></i> Pay only after collecting item
                                </li>
                                <li class="ml-5 mb-0">
                                    <a href="tips.html"> View more..</a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12">
                <form method="post" enctype="multipart/form-data" asp-action="editBusiness">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="text" class="form-control" style="display:none;" asp-for="Id">

                    <div class="card ">
                        <div class="card-header bg-warning">
                            <h3 class="card-title">Business Details</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="companyName"></label>
                                        <input type="text" class="form-control" asp-for="companyName" placeholder="Company Name">
                                        <span asp-validation-for="companyName" class="text-danger"></span>



                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="gstno"></label>
                                        <input type="text" asp-for="gstno" class="form-control" id="name2" placeholder="GST No">
                                        <span asp-validation-for="gstno" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="Website"></label>
                                        <input type="text" class="form-control" asp-for="Website" placeholder="Web Site">
                                        <span asp-validation-for="Website" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="lic"></label>
                                        <input type="text" asp-for="lic" class="form-control" placeholder="Licence">
                                        <span asp-validation-for="lic" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="organization"></label>
                                        <input type="text" class="form-control" asp-for="organization" placeholder="Organization">
                                        <span asp-validation-for="organization" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card  ">
                        <div class="card-header bg-warning">
                            <h3 class="card-title">Address</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="house"></label>
                                        <input type="text" class="form-control" asp-for="house" placeholder="Enter House">
                                        <span asp-validation-for="house" class="text-danger"></span>


                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="landmark"></label>
                                        <input type="text" asp-for="landmark" class="form-control" id="name2" placeholder="Enter Landmark">
                                        <span asp-validation-for="landmark" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="street"></label>
                                        <input type="text" class="form-control" asp-for="street" placeholder="Enter Street">
                                        <span asp-validation-for="street" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="zipcode"></label>
                                        <input type="text" asp-for="zipcode" class="form-control" placeholder="Enter Zipcode">
                                        <span asp-validation-for="zipcode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="countryid"></label>
                                        <select name="countryid" id="countryid" asp-for="countryid" class="form-control"
                                                asp-items="@ViewBag.Countries"
                                                onchange="DoPostBack();">
                                            <option>--- Select  ---</option>
                                        </select>
                                        <span asp-validation-for="countryid" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="stateid"></label>
                                        <select name="stateid" id="stateid" asp-for="stateid" class="form-control"
                                                asp-items="@ViewBag.States">

                                            <option>--- Select  ---</option>
                                        </select>
                                        <span asp-validation-for="stateid" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group mb-0">
                                        <label class="form-label" asp-for="cityid"></label>
                                        <select name="cityid" id="cityid" asp-for="cityid" class="form-control"
                                                asp-items="@ViewBag.Cities">


                                            <option>--- Select  ---</option>
                                        </select>
                                        <span asp-validation-for="cityid" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-header bg-warning">
                            <h3 class="card-title">Company Time</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Open</th>
                                            <th scope="col">Close</th>
                                            <th scope="col"></th>
                                            <th scope="col">Open</th>
                                            <th scope="col">Close</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Monday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="MondayOpen" placeholder="Monday Open">
                                                <span asp-validation-for="MondayOpen" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="MondayClose" class="form-control" placeholder="Monday Close">
                                                <span asp-validation-for="MondayClose" class="text-danger"></span>
                                            </td>
                                            <th scope="row">Tuesday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TuesdayOpen" placeholder="TuesdayOpen">
                                                <span asp-validation-for="TuesdayOpen" class="text-danger"></span>

                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TuesdayClose" placeholder="TuesdayClose">
                                                <span asp-validation-for="TuesdayClose" class="text-danger"></span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Wednesday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TuesdayClose" placeholder="WednesdayOpen">
                                                <span asp-validation-for="WednesdayOpen" class="text-danger"></span>

                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="TuesdayOpen" placeholder="WednesdayClose">
                                                <span asp-validation-for="WednesdayClose" class="text-danger"></span>

                                            </td>
                                            <th scope="row">Thursday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="ThursdayOpen" placeholder="ThursdayOpen">
                                                <span asp-validation-for="ThursdayOpen" class="text-danger"></span>

                                            </td>
                                            <td>
                                                <input type="text" asp-for="ThursdayClose" class="form-control" placeholder="ThursdayClose">
                                                <span asp-validation-for="ThursdayClose" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Friday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="FridayOpen" placeholder="FridayOpen">
                                                <span asp-validation-for="FridayOpen" class="text-danger"></span>

                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="FridayClose" placeholder="FridayClose">
                                                <span asp-validation-for="FridayClose" class="text-danger"></span>

                                            </td>
                                            <th scope="row">Saturday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="SaturdayOpen" placeholder="SaturdayOpen">
                                                <span asp-validation-for="SaturdayOpen" class="text-danger"></span>

                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="SaturdayClose" placeholder="SaturdayClose">
                                                <span asp-validation-for="SaturdayClose" class="text-danger"></span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Sunday</th>
                                            <td>
                                                <input type="text" class="form-control" asp-for="SundayOpen" placeholder="SundayOpen">
                                                <span asp-validation-for="SundayOpen" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" asp-for="SundayClose" placeholder="SundayClose">
                                                <span asp-validation-for="SundayClose" class="text-danger"></span>

                                            </td>
                                            <th scope="row"></th>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-header bg-warning">
                            <h3 class="card-title">Slider Images</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="sliderimg1"></label>
                                        <div class="btn btn-primary btn-icon-text">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <input asp-for="sliderimg1" type="file" value="Upload" />
                                            <span asp-validation-for="sliderimg1" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        @if (Model.sliderimg11 == null || Model.sliderimg11.Length == 0)
                                        {
                                            <img src="~/uploads/blank.jpg" style="width: 80px;height: 50px;" />
                                        }
                                        else
                                        {
                                            <img src="@Model.sliderimg11" style="width: 80px;height: 50px;">
                                        }

                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">

                                        <label class="form-label" asp-for="sliderimg2"></label>
                                        <div class="btn btn-primary btn-icon-text">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <input asp-for="sliderimg2" type="file" value="Upload" />
                                            <span asp-validation-for="sliderimg2" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">

                                        @if (Model.sliderimg21 == null || Model.sliderimg21.Length == 0)
                                        {
                                            <img src="~/uploads/blank.jpg" style="width: 80px;height: 50px;" />
                                        }
                                        else
                                        {
                                            <img src="@Model.sliderimg21" style="width: 80px;height: 50px;">
                                        }
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">

                                        <label class="form-label" asp-for="sliderimg3"></label>
                                        <div class="btn btn-primary btn-icon-text">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <input asp-for="sliderimg3" type="file" value="Upload" />
                                            <span asp-validation-for="sliderimg3" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        @if (Model.sliderimg31 == null || Model.sliderimg31.Length == 0)
                                        {
                                            <img src="~/uploads/blank.jpg" style="width: 80px;height: 50px;" />
                                        }
                                        else
                                        {
                                            <img src="@Model.sliderimg31" style="width: 80px;height: 50px;">
                                        }

                                    </div>
                                </div>



                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="sliderimg4"></label>
                                        <div class="btn btn-primary btn-icon-text">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <input asp-for="sliderimg4" type="file" value="Upload" />
                                            <span asp-validation-for="sliderimg4" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">

                                        @if (Model.sliderimg41 == null || Model.sliderimg41.Length == 0)
                                        {
                                            <img src="~/uploads/blank.jpg" style="width: 80px;height: 50px;" />
                                        }
                                        else
                                        {
                                            <img src="@Model.sliderimg41" style="width: 80px;height: 50px;">
                                        }
                                    </div>
                                </div>


                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">

                                        <label class="form-label" asp-for="sliderimg5"></label>
                                        <div class="btn btn-primary btn-icon-text">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <input asp-for="sliderimg5" type="file" value="Upload" />
                                            <span asp-validation-for="sliderimg5" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        @if (Model.sliderimg51 == null || Model.sliderimg51.Length == 0)
                                        {
                                            <img src="~/uploads/blank.jpg" style="width: 80px;height: 50px;" />
                                        }
                                        else
                                        {
                                            <img src="@Model.sliderimg51" style="width: 80px;height: 50px;">
                                        }

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-warning">
                            <h3 class="card-title">Social Media Information</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-7">
                                        <i class="fa fa-facebook tx-16 lh-0 op-6 text-center mx-auto"></i>
                                    </div>
                                </div><!-- input-group-prepend -->
                                <input type="text" class="form-control" asp-for="facebookLink" placeholder="Facebook URL">
                                <span asp-validation-for="facebookLink" class="text-danger"></span>

                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-7">
                                        <i class="fa fa-google-plus tx-16 lh-0 op-6 text-center mx-auto"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" asp-for="googleplusLink" placeholder="GooglePlus URL">
                                <span asp-validation-for="googleplusLink" class="text-danger"></span>

                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-7">
                                        <i class="fa fa-instagram tx-16 lh-0 op-6 text-center mx-auto"></i>
                                    </div>

                                </div>
                                <input type="text" class="form-control" asp-for="instagramLink" placeholder="Instagram URL">
                                <span asp-validation-for="instagramLink" class="text-danger"></span>

                            </div>

                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-7">
                                        <i class="fa fa-linkedin tx-16 lh-0 op-6 text-center mx-auto"></i>
                                    </div>
                                </div><!-- input-group-prepend -->
                                <input type="text" class="form-control" asp-for="linkedinLink" placeholder="Linkedin URL">
                                <span asp-validation-for="linkedinLink" class="text-danger"></span>

                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-7">
                                        <i class="fa fa-twitter tx-16 lh-0 op-6 text-center mx-auto"></i>
                                    </div>
                                </div><!-- input-group-prepend -->
                                <input type="text" class="form-control" asp-for="twitterLink" placeholder="Twitter URL">
                                <span asp-validation-for="twitterLink" class="text-danger"></span>


                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-7">
                                        <i class="fa fa-youtube tx-16 lh-0 op-6 text-center mx-auto"></i>
                                    </div>
                                </div><!-- input-group-prepend -->
                                <input type="text" class="form-control" asp-for="youtubeLink" placeholder="Youtube URL">
                                <span asp-validation-for="youtubeLink" class="text-danger"></span>


                            </div>


                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-warning">
                            <h3 class="card-title">Description</h3>
                        </div>
                        <div class="card-body">

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="description" rows="5"> </textarea>

                                    <span asp-validation-for="description" class="text-danger"></span>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @*<button type="submit" style="margin-right:5px;" class="btn btn-primary "><i class="fa fa-edit" style="margin-right:0.7em"></i>Update</button>*@

                        <button type="submit" class="btn btn-secondary">Updated Profile</button>
                    </div>
                </form>

                     
            </div>
        </div>
    </div>
</section>
<!--/User Dashboard-->
<!--/section-->
<!-- Newsletter-->

<partial name="_Subscribe" />
@*<section class="sptb border-top">
        <div class="container">
            <div class="section-title center-block text-center">
                <h2>Subscribe To Our Newsletter</h2>
                <p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
                    <div class="input-group sub-input mt-0">
                        <input type="text" class="form-control input-lg " placeholder="Enter your Email">
                        <div class="input-group-append ">
                            <button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!--/Newsletter-->


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    //$(function () {

    //    $(".datepicker").datepicker({
    //        autoclose: true,
    //        dateFormat: 'dd/mm/yy'
    //    });
    //});

    $(function() {
        $("#countryid").change(function () {

            var url = '@Url.Content("~/")' + 'Admin/Customerprofile/getstatebyid';
            var ddlsource = "#countryid";
            $.getJSON(url,
                { id: $(ddlsource).val() },
                function (data) {
                //   console.log(data);
                    var item = '';
                    $("#stateid").empty();
                    $("#cityid").empty();
                    $.each(data, function (i, row) {

                        item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                       // alert(row);
                    });
                    $("#stateid").html(item);
                }
            )
        });

        $("#stateid").change(function () {

            var url = '@Url.Content("~/")' + 'Admin/Customerprofile/getCitybyStateid';
            var ddlsource1 = "#stateid";
            $.getJSON(url,
                { stateid: $(ddlsource1).val() },
                function (data) {
                //   console.log(data);
                    var item = '';
                    $("#cityid").empty();
                    $.each(data, function (i, row) {

                        item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                       // alert(row);
                    });
                    $("#cityid").html(item);
                }
            )
        });

    });

</script>