@model AdvertisementInfoCreateViewModel;
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_front.cshtml";
}




<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">My Dashboard</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">My Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Breadcrumb-->
<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">My Dashboard</h3>
                    </div>
                    <div class="card-body text-center item-user">
                        <div class="profile-pic">
                            @{
                                string userName = TempData["userName"].ToString();
                                string profilephoto = TempData["profilephoto"].ToString();

                                TempData.Keep("userName");
                                TempData.Keep("profilephoto");
                            }
                            <div class="profile-pic-img">
                                @*<span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>*@
                                <img src="@profilephoto" class="brround" alt="user">
                            </div>
                            <a href="#" class="text-dark"><h4 class="mt-3 mb-0 font-weight-semibold">@userName</h4></a>
                        </div>
                    </div>
                    <partial name="_customerDashboardMenu" />

                </div>

            </div>


            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-xl-0">
                    <div class="card-header">
                        <h3 class="card-title">Promote Business</h3>
                    </div>
                    <div class="card-body">
                        <form id="commentForm" method="post" enctype="multipart/form-data" asp-action="promoteBusiness" class="form-horizontal mb-0">
                            <div id="rootwizard" class="border pt-0">


                                <ul class="nav nav-tabs nav-justified">
                                    <li class="nav-item"><a href="#first" data-toggle="tab" class="nav-link font-bold active">Select Package</a></li>
                                    <li class="nav-item"><a href="#second" data-toggle="tab" class="nav-link font-bold">Details</a></li>
                                    @*<li class="nav-item" style="display:none;"><a href="#third" data-toggle="tab" class="nav-link font-bold">Personal Details</a></li>
                                        <li class="nav-item" style="display:none;"><a href="#fourth" data-toggle="tab" class="nav-link font-bold ">Payment</a></li>*@
                                </ul>
                                <div class="tab-content mb-0 b-0">
                                    <div class="tab-pane fade card-body active show" id="first">
                                        <div class="control-group form-group">
                                            <div class="form-group">

                                                <label class="form-label text-dark" asp-for="advertiseid"></label>
                                                <select name="advertiseid" id="advertiseid" asp-for="advertiseid" class="form-control"
                asp-items="@ViewBag.AdvertiseList">
            <option>--- Select  ---</option>
        </select>
                                                
                                                <span asp-validation-for="advertiseid" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="control-group form-group">
                                            <div class="form-group">

                                                <label class="form-label text-dark">GST</label>
                                                <input type="text" readonly class="form-control" id="pkgGST" placeholder="GST">
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <div class="form-group">

                                                <label class="form-label text-dark">Package Amount</label>
                                                <input type="text" readonly class="form-control" id="pkgAmount">
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="form-label text-dark" asp-for="businessid"></label>
                                                <select name="businessid" id="businessid" asp-for="businessid" class="form-control"
                asp-items="@ViewBag.CompanyList">
            <option>--- Choose Company ---</option>
        </select>
                                                @*<select data-placeholder="Choose a Country..." name="businessid" id="businessid" asp-for="businessid" class="chosen-select form-control"
                                                        asp-items="@ViewBag.CompanyList" tabindex="2">
                                                    <option value=""></option>
                                                    
                                                </select>*@
                                                <span asp-validation-for="businessid" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="hfPackage" />
                                            <div class="form-group">
                                                <label class="form-label text-dark" asp-for="cityIds"></label>
                                                <select name="cityIds" id="cityIds" asp-for="cityIds" data-placeholder="Choose City..." class="chosen-select form-control" multiple tabindex="4"
                                                        asp-items="@ViewBag.citiesList">


                                                    <option>--- Select  ---</option>
                                                </select>
                                                @*<select name="cityIds" id="cityIds" asp-for="cityIds" class="form-control"
                                                            asp-items="@ViewBag.citiesList">


                                                        <option>--- Select  ---</option>
                                                    </select>*@


                                                <span asp-validation-for="cityIds" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <div class="form-group">

                                                <label class="form-label text-dark" asp-for="sectorId"></label>
                                                <select name="sectorId" id="sectorId" asp-for="sectorId" class="form-control"
                                                        asp-items="@ViewBag.sectorList">
                                                    <option>--- Select  ---</option>
                                                </select>
                                                <span asp-validation-for="sectorId" class="text-danger"></span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane fade in card-body border-top-0" id="second">
                                        <div class="form-group">
                                            <label class="form-label  text-dark" asp-for="title"></label>
                                            <input type="text" class="form-control" asp-for="title" placeholder="Title">
                                            <span asp-validation-for="title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label  text-dark" asp-for="videourl"></label>
                                            <input type="text" class="form-control" asp-for="videourl" placeholder="Website Url">
                                            <span asp-validation-for="videourl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label  text-dark" asp-for="shortdesc"></label>
                                            <textarea class="form-control" asp-for="shortdesc" placeholder="Short Description" rows="5"></textarea>

                                            <span asp-validation-for="shortdesc" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label  text-dark" asp-for="longdesc"></label>
                                            <textarea class="form-control" asp-for="longdesc" placeholder="Long Description" rows="5"></textarea>


                                            <span asp-validation-for="longdesc" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">

                                            <label class="form-label  text-dark" asp-for="startdate"></label>
                                            <input asp-for="startdate" class="form-control" />


                                            <span asp-validation-for="startdate" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label class="form-label text-dark" asp-for="image1">Image Upload</label>
                                            <div class="btn btn-primary btn-icon-text">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                                <input asp-for="image1" type="file" value="Upload" />
                                                <span asp-validation-for="image1" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <div class="form-group">

                                                <label class="form-label text-dark">Amount</label>
                                                <input type="text" readonly class="form-control" asp-for="PaymentAmount" id="PaymentAmount">
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <div class="form-group">


                                                <button type="submit" style="margin-right:5px;" class="btn btn-secondary ">
                                                    <i class="fa fa-save" style="margin-right:0.7em"></i>Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<partial name="_Subscribe" />



<script src="~/lib/jquery/dist/jquery.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js">

    </script>*@
@*<script src="~/dropdownselect/docsupport/jquery-3.2.1.min.js" type="text/javascript"></script>*@
<script src="~/dropdownselect/chosen.jquery.js" type="text/javascript"></script>
<script src="~/dropdownselect/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script src="~/dropdownselect/docsupport/init.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">


    //$("#advertiseid").change(function () {

    //    cal();
    //});

    //$("#cityIds").select2({

    //    placeholder: "Select Package",
    //    //theme: "classic",
    //    allowClear: true

    //}).on('change.select2', function () {
    //    $("#hfPackage").val($(this).val());
    //});
    //$('.chosen-select').on('change', function (evt, params) {

    //    alert('select');
    //});
    //$("#cityIds").chosen().change(function () {
    //    alert($("#cityIds").val());
    //});
    $("#cityIds").change(function () {


        cal();

    });
    function cal() {
        //var array = $('#cityIds').val().split(',');
        //console.log(array);
        //alert(array.length);
        //alert($("#cityIds").val());
        var str = $("#cityIds").val();
        console.log(str);

        var splits = String(str).split(",");

        //$("#pkgAmount").val(data.amount);
        //$("#pkgGST").val(data.gst);
        // FinalAmount


        var tot = splits.length * $("#pkgAmount").val();

        var gstamt = ((tot * $("#pkgGST").val()) / 100);
        var tot1 = tot + gstamt;
       // alert(tot1);
        $("#PaymentAmount").val(tot1);
       // alert(splits.length); // output: this
    }

    $("#advertiseid").change(function () {

        //pkgAmount
        //pkgGST
        //alert('sfdgsd');
           //alert($("#countryid").val());
        var url = '@Url.Content("~/")' + 'Admin/Customerprofile/getAdvertisePakageDetails';
        var ddlsource = "#advertiseid";
            $.getJSON(url,
                { id: $(ddlsource).val() },
                function (data) {
                   //console.log(data);

                    $("#pkgAmount").val(data.amount);
                    $("#pkgGST").val(data.gst);
                   // FinalAmount
                    //var item = '';
                    //$("#stateid").empty();
                    //$.each(data, function (i, row) {

                    //    item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                    //   // alert(row);
                    //});
                    //$("#stateid").html(item);
                }
        )

        cal();
    });
</script>