@*@Model BusinessListingViewModel;*@
@model plathora.Models.BusinessListingViewModel;
@{
    ViewData["Title"] = "BusinessListing";
    Layout = "~/Views/Shared/_front.cshtml";
}
<style>
    #myScroll {
        border: 1px solid #999;
    }

    p {
        border: 1px solid #ccc;
        padding: 50px;
        text-align: center;
    }

    .loading {
        color: red;
    }

    .dynamic {
        background-color: #ccc;
        color: #000;
    }
</style>
<!--Topbar-->
<!--Sliders Section-->
<div>

    <input type="text" id="businessid1" value="@ViewBag.businessIdd" style="display:none;" />
    <input type="text" id="productid1" value="@ViewBag.productidd" style="display:none;" />


</div>
<!--/Sliders Section-->
<!--Breadcrumb-->
@*<div class="bg-white border-bottom">
        <div class="container">
            <div class="page-header">
                <h4 class="page-title">Business list Right</h4>

            </div>
        </div>
    </div>*@
<!--/Breadcrumb-->
@*Advertise Slider*@


<section class="sptb">
    <div class="container">

        <div class="row">


            <div class="col-md-12">

                <div class="carousel slide" id="carousel-554496">
                    <ol class="carousel-indicators">
                        @{
                            var index = 0;
                        }
                        @foreach (var item in Model.objSlider)
                        {
                            @if (index == 0)
                            {
                                <li data-slide-to="@index" data-target="#carousel-554496" class="active"> </li>
                            }
                            else
                            {
                                <li data-slide-to="@index" data-target="#carousel-554496"> </li>
                            }
                            index++;

                        }
                        @*<li data-slide-to="0" data-target="#carousel-554496"> </li>
            <li data-slide-to="1" data-target="#carousel-554496"> </li>*@

                    </ol>

                    <div class="carousel-inner">
                        @{
                            var index1 = 0;
                        }
                        @foreach (var item in Model.objSlider)
                        {
                        <a href="@item.videourl">



                            @if (index1 == 0)
                            {
                                <div class="carousel-item active">
                                    <img class="d-block w-100" alt="Carousel Bootstrap First" style="width:1109px;height:348px;" src="@item.img" />
                                    <div class="carousel-caption">
                                        <h4> @item.title </h4>
                                        <p> @item.shortdesc </p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img class="d-block w-100" alt="Carousel Bootstrap First" style="width:1109px;height:348px;" src="@item.img" />
                                    <div class="carousel-caption">
                                        <h4> @item.title </h4>
                                        <p> @item.shortdesc </p>
                                    </div>
                                </div>
                            }
                        </a>
                            index1++;

                        }


                    </div>
                    @*<ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-554496"> </li>
            <li data-slide-to="1" data-target="#carousel-554496"> </li>
            <li data-slide-to="2" data-target="#carousel-554496" class="active"> </li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" alt="Carousel Bootstrap First" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1566561994/rest.png" />
                <div class="carousel-caption">
                    <h4> Restaurant View </h4>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" alt="Carousel Bootstrap Second" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1566562085/rest_1.png" />
                <div class="carousel-caption">
                    <h4> printing and typesetting </h4>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" alt="Carousel Bootstrap Third" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1566562162/rest_2.png" />
                <div class="carousel-caption">
                    <h4> printer took </h4>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
        </div>*@


                    <a class="carousel-control-prev" href="#carousel-554496" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-554496" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
</section>
@*Advertise Slider*@
<!--Add listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12">
                @*<div class="card">
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control br-tl-3 br-bl-3" placeholder="Search">
                                <div class="input-group-append ">
                                    <button type="button" class="btn btn-secondary br-tr-3 br-br-3">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Product</h3>
                    </div>
                    <div class="card-body">
                        <div class="" id="container">
                            <div class="filter-product-checkboxs">
                                @foreach (var item in Model.objProductIndexViewModel)
                                {
                                    <label class="custom-control  mb-3">
                                        @*custom-checkbox*@
                                        @*<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">*@
                                        <span class="custom-control-label">
                                            <a asp-area="Admin" asp-controller="Home" asp-action="BusinessListing" asp-route-businessid="@item.businessid" asp-route-productid="@item.id" class="text-dark">@item.productName<span class="label label-primary float-right"></span></a>
                                        </span>
                                    </label>
                                }


                            </div>
                        </div>
                    </div>
                    @*<div class="card-header border-top">
                            <h3 class="card-title">Posted By</h3>
                        </div>
                        <div class="card-body">
                            <div class="filter-product-checkboxs">
                                <label class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
                                    <span class="custom-control-label">
                                        Dealer
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                                    <span class="custom-control-label">
                                        Individual
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                                    <span class="custom-control-label">
                                        Reseller
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-block">Apply Filter</a>
                        </div>*@
                </div>
            </div>

            <!--Right Side Content-->
            <div class="col-xl-9 col-lg-9 col-md-12">
                <!--Add lists-->
                <div class=" mb-lg-0">
                    <div class="">
                        <div class="item2-gl business-list-01">

                            @*<div class="">
                                    <div class="bg-white p-5 item2-gl-nav d-flex">
                                        <h6 class="mb-0 mt-3">Showing 1 to 10 of 30 entries</h6>
                                        <ul class="nav item2-gl-menu ml-auto mt-1">
                                            <li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
                                            <li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
                                        </ul>
                                        <div class="d-sm-flex">
                                            <label class="mr-2 mt-2 mb-sm-1 sort-label">Sort By:</label>
                                            <div class="selectgroup">
                                                <label class="selectgroup-item mb-md-0">
                                                    <input type="radio" name="value" value="All" class="selectgroup-input" checked="">
                                                    <span class="selectgroup-button d-md-flex">All <i class="fa fa-sort ml-2 mt-1"></i></span>
                                                </label>
                                                <label class="selectgroup-item mb-md-0">
                                                    <input type="radio" name="value" value="Distance" class="selectgroup-input">
                                                    <span class="selectgroup-button">Distance</span>
                                                </label>
                                                <label class="selectgroup-item mb-0">
                                                    <input type="radio" name="value" value="Latest" class="selectgroup-input">
                                                    <span class="selectgroup-button">Latest</span>
                                                </label>
                                                <label class="selectgroup-item mb-0">
                                                    <input type="radio" name="value" value="Rating" class="selectgroup-input">
                                                    <span class="selectgroup-button">Rating</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@


                            <div class="tab-content">
                                @*<div class="tab-pane active" id="tab-11" style="display:none;">
                                        @if (Model.objgetBusinessAllInfo != null)
                                        {


                                        @foreach (var item in Model.objgetBusinessAllInfo)
                                        {

                                            <div class="card overflow-hidden">

                                                <div class="d-md-flex">
                                                    <div class="item-card9-img">
                                                        <div class="item-card9-imgs">
                                                            <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="@item.Id"></a>
                                                            @if (item.sliderimg1 == null || item.sliderimg1 == "")
                                                            {
                                                                <img src="~/uploads/blank1.jpg" alt="img" class="cover-image">
                                                            }
                                                            else
                                                            {
                                                                <img src="@item.sliderimg1" alt="img" class="cover-image">
                                                            }

                                                        </div>
                                                        <div class="item-card9-icons" style="display:none;">
                                                            <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
                                                        </div>
                                                        <div style="display:none;" class="item-cardreview-absolute bg-secondary">RealEstate</div>
                                                    </div>
                                                    <div class="card border-0 mb-0">
                                                        <div class="card-body">
                                                            <div class="item-card9">
                                                                <br />

                                                                <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="@item.Id" class="text-dark">
                                                                    <h4 class="font-weight-semibold mt-1 mb-1">
                                                                        @item.companyName

                                                                    </h4>
                                                                </a>
                                                                <div class="rating-stars d-flex mr-5">
                                                                    <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="@item.rating">
                                                                    <div class="rating-stars-container mr-2">
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <div class="rating-star sm">
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                    </div> <a class="fs-13 leading-tight mt-1" href="#">@item.review Reviews</a>
                                                                </div>
                                                                <div class="mt-2 mb-2">
                                                                    <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="@item.Id" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i>@item.landmark</a>
                                                                    <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="@item.Id" class="mt-1 mb-1 mr-1 text-muted">
                                                                        <i class="fa fa-map-marker mr-1"></i>

                                                                        @item.house



                                                                    </a>
                                                                </div>
                                                                <p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  10am - 10pm</p>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer pt-2 pb-2">
                                                            <div class="item-card9-footer d-sm-flex">
                                                                <div class="item-card9-cost">
                                                                    <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
                                                                        <a class="" asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="@item.Id" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i>@item.Email</a>
                                                                        <a class="" asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="@item.Id" data-toggle="modal" data-target="#contact"><i class="fa fa-phone"></i>@item.PhoneNumber</a>



                                                                    </div>
                                                                </div>
                                                                <div class="ml-auto mt-3 mt-sm-0" style="display:none;">
                                                                    <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        }
                                        }

                                    </div>*@
                                <div class="tab-pane active" id="businesslist">


                                </div>
                                <button id="btnPreviouspage" class="btn btn-secondary mb-0">
                                    Previous
                                </button>
                                <button id="btnNextpage" class="btn btn-secondary mb-0">
                                    Next
                                </button>



                            </div>

                        </div>
                        <div class="center-block text-center" style="display:none;">
                            <ul class="pagination mb-5">
                                <li class="page-item page-prev disabled">
                                    <a class="page-link" href="#" tabindex="-1">Prev</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item page-next">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/Add lists-->
            </div>
            <!--/Right Side Content-->
        </div>
    </div>
</section>
<!--/Add Listings-->
<!-- Newsletter-->
<partial name="_Subscribe" />
<!--/Newsletter-->
<!--Footer Section-->
<!--Footer Section-->
<!-- Message Modal -->
@*<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examplecontactLongTitle">Send Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="contact-email" placeholder="Email Address">
                    </div>
                    <div class="form-group mb-0">
                        <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Send</button>
                </div>
            </div>
        </div>
    </div>*@

<!-- Home Video Modal -->
@*<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="embed-responsive embed-responsive-16by9">
                    <video id="gossVideo" class="embed-responsive-item" controls="controls">
                        <source src="../assets/video/300052515.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>*@

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    var finaldata;
    var rows = '';
    var RecordCount = @ViewBag.RecordCount ;

    var datatable;
    var counter = 0;
    $(document).ready(function () {

        rows = '';
        appendData(counter);

        //LoadSlider();
            //loaddata();
    });
    function loaddata() {

        @*var businessIdd = @ViewBag.businessIdd;
        var productidd = @ViewBag.productidd;*@

        var businessIdd = $("#businessid1").val();
        var productidd = $("#productid1").val();



        //alert(businessIdd);
        //alert(productidd);
        $.ajax({

            type: "GET",
            url: '/Admin/Home/BusinessListingGetALL',
           // url: '/Admin/Home/BusinessListingGetALL?businessid=' + businessIdd + ' & productidd=' + productidd,
          //  data: "businessid=" + businessIdd + "&productidd =" + productidd,
            data: { "businessid": businessIdd, "productidd": productidd },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                finaldata = data;
                appendData();
//                //alert(JSON.stringify(data));
//                $("#businesslist").html('');
//                var DIV = '';
//                var rows = '';
//                $.each(data, function (i, item) {
//                      rows += `
//                        <div class="card overflow-hidden">

//    <div class="d-md-flex">
//        <div class="item-card9-img">
//            <div class="item-card9-imgs">
//                <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="`+item.id+`"></a>

//                    <img src="`+ item.sliderimg1 +`" style="width:300px;height:212px;" alt="img" class="cover-image">



//            </div>
//            <div class="item-card9-icons" style="display:none;">
//                <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
//            </div>
//            <div style="display:none;" class="item-cardreview-absolute bg-secondary">RealEstate</div>
//        </div>
//        <div class="card border-0 mb-0">
//            <div class="card-body">
//                <div class="item-card9">

//                    <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="`+ item.id +`" class="text-dark">
//                        <h4 class="font-weight-semibold mt-1 mb-1">
//                            `+ item.companyName+`

//                        </h4>
//                    </a>
//                    <div class="rating-stars d-flex mr-5">
//                        <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value=" `+ item.rating +`">
//                        <div class="rating-stars-container mr-2">
//                            <div class="rating-star sm">
//                                <i class="fa fa-star"></i>
//                            </div>
//                            <div class="rating-star sm">
//                                <i class="fa fa-star"></i>
//                            </div>
//                            <div class="rating-star sm">
//                                <i class="fa fa-star"></i>
//                            </div>
//                            <div class="rating-star sm">
//                                <i class="fa fa-star"></i>
//                            </div>
//                            <div class="rating-star sm">
//                                <i class="fa fa-star"></i>
//                            </div>
//                        </div> <a class="fs-13 leading-tight mt-1" href="#">`+ item.review +` Reviews</a>
//                    </div>
//                    <div class="mt-2 mb-2">
//                        <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="`+ item.Id +`" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i>
//   `+ item.landmark +`</a>
//                        <a asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id="`+ item.Id +`" class="mt-1 mb-1 mr-1 text-muted">
//                            <i class="fa fa-map-marker mr-1"></i>
//                    `+ item.house +`




//                        </a>
//                    </div>
//                    <p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  10am - 10pm</p>
//                </div>
//            </div>
//            <div class="card-footer pt-2 pb-2">
//                <div class="item-card9-footer d-sm-flex">
//                    <div class="item-card9-cost">
//                        <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
//                            <a class="" asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id=" `+ item.Id + ` " data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i> ` + item.email +`</a>
//                            <a class="" asp-area="Admin" asp-controller="Home" asp-action="business" asp-route-id=" `+ item.Id + `" data-toggle="modal" data-target="#contact"><i class="fa fa-phone"></i> ` + item.phoneNumber +`</a>




//                        </div>
//                    </div>
//                    <div class="ml-auto mt-3 mt-sm-0" style="display:none;">
//                        <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
//                    </div>
//                </div>
//            </div>
//        </div>
//    </div>
//</div>
//                    `;

//                    //var rows = "<tr>" +
//                    //    "<td id='RegdNo'>" + item.companyName + "</td>" +
//                    //    "<td id='Name'>" + item.id + "</td>" +

//                    //    "</tr>";
//                    //console.log(rows);
//                    //$('#Table').append(rows);
//                }); //End of foreach Loop
//                $("#businesslist").html(rows);
//                console.log(rows);
//                console.log(data);

            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    }


    var cnt = 0;
    //$(window).scroll(function () {

    //    if ($(window).scrollTop() == $(document).height() - $(window).height() && counter < 16) {
    //    //if ($(window).scrollTop() <= $(document).height() - $(window).height() && counter < 16) {
    //       // alert(counter);
    //        appendData(counter);
    //    }
    //});
    function appendData(cnt) {


        if (counter === 0) {
            $("#btnPreviouspage").hide();
        }
        else {
            $("#btnPreviouspage").show();
        }

        var cnt2 = RecordCount / 10;
        var cnt1 = parseInt(cnt);

        if (cnt1 < cnt2) {
            cnt1++;
        }
        else {

        }
        if (counter < cnt1) {
            $("#btnNextpage").show();
        }
        else {
            $("#btnNextpage").hide();
        }



        rows = '';
        var businessIdd = $("#businessid1").val();
        var productidd = $("#productid1").val();
        $.ajax({

            type: "GET",
            url: '/Admin/Home/BusinessListingGetALL',

            data: {
                "businessid": businessIdd, "productidd": productidd, "pageno": cnt},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                finaldata = data;
                var html = '';
                var iindex = 0;
                //var iindex = (counter+1);
                for (iindex = 0; iindex < finaldata.length; iindex++) {
                    cnt++;
                    var item = finaldata[iindex];
                    console.log('---------------------------');
                    console.log(item);
                    console.log('---------------------------');

                    rows += `
                        <div class="card overflow-hidden">

    <div class="d-md-flex">
        <div class="item-card9-img">
            <div class="item-card9-imgs">
                <a href="/Admin/Home/business?id=`+ item.id + `"></a>

                    <img src="`+ item.sliderimg1 + `" style="width:300px;height:212px;" alt="img" class="cover-image">



            </div>
            <div class="item-card9-icons" style="display:none;">
                <a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
            </div>
            <div style="display:none;" class="item-cardreview-absolute bg-secondary">RealEstate</div>
        </div>
        <div class="card border-0 mb-0">
            <div class="card-body">
                <div class="item-card9">

                    <a href="/Admin/Home/business?id=`+ item.id + `" class="text-dark">
                        <h4 class="font-weight-semibold mt-1 mb-1">
                            `+ item.companyName + `

                        </h4>
                    </a>
                    <div class="rating-stars d-flex mr-5">
                        <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value=" `+ item.rating + `">
                        <div class="rating-stars-container mr-2">
                            <div class="rating-star sm">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="rating-star sm">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="rating-star sm">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="rating-star sm">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="rating-star sm">
                                <i class="fa fa-star"></i>
                            </div>
                        </div> <a class="fs-13 leading-tight mt-1" href="#">`+ item.review + ` Reviews</a>
                    </div>
                    <div class="mt-2 mb-2">
                        <a href="/Admin/Home/business?id=`+ item.id + `" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i>
   `+ item.landmark + `</a>
                        <a href="/Admin/Home/business?id=`+ item.id + `" class="mt-1 mb-1 mr-1 text-muted">
                            <i class="fa fa-map-marker mr-1"></i>
                    `+ item.house + `




                        </a>
                    </div>
                  Timings `+ item.businesstime + `

                </div>
            </div>
            <div class="card-footer pt-2 pb-2">
                <div class="item-card9-footer d-sm-flex">
                    <div class="item-card9-cost">
                        <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
                            <a class="" href="/Admin/Home/business?id=`+ item.id + `"  data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i> ` + item.email + `</a>
                            <a class="" href="/Admin/Home/business?id=`+ item.id + `" data-toggle="modal" data-target="#contact"><i class="fa fa-phone"></i> ` + item.phoneNumber + `</a>




                        </div>
                    </div>
                    <div class="ml-auto mt-3 mt-sm-0" style="display:none;">
                        <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    `;
                    //html += '<p class="dynamic">Dynamic Data :' + item.id + '  This is test data.<br />Next line.</p>';
                }
                console.log(rows);
                $('#businesslist').html(rows);

              //  counter++;

            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });






        //if (counter == 2)
        //    $('#myScroll').append('<button id="uniqueButton" style="margin-left: 50%; background-color: powderblue;">Click</button><br /><br />');
    }



    $("#btnPreviouspage").click(function () {


            counter--;
            appendData(counter);
    });

    $("#btnNextpage").click(function () {
        //var cnt = RecordCount / 10;
        //var cnt1 = parseInt(cnt);

        //if (cnt1 < cnt) {
        //    cnt1++;
        //}
        //else {

        //}

            counter++;
            //alert(counter);
            appendData(counter);


    });




                @*function LoadSlider() {


                    if (@TempData["TempdataCity"] != null) {

                        var city=@TempData["TempdataCity"].ToString();
                         //alert(@TempData["TempdataCity"].ToString());


                    var businessIdd = $("#businessid1").val();
                        //var productidd = $("#productid1").val();



                        //alert(businessIdd);
                        //alert(productidd);
                        $.ajax({

                            type: "GET",
                            url: '/Admin/Home/AdvertiseSliderbyBusinessIdandCity',
                            // url: '/Admin/Home/BusinessListingGetALL?businessid=' + businessIdd + ' & productidd=' + productidd,
                            //  data: "businessid=" + businessIdd + "&productidd =" + productidd,
                            data: { "businessid": businessIdd, "cityId": city },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                               // console.log(data);

                                                //alert(JSON.stringify(data));
                                $("#advertiseSlider").html('');
                                var DIV = '';
                                var index = 0;
                                var rows = '';

                                var topSlider = '';
                                var bottomSlider = '';
                                                $.each(data, function (i, item) {
                                        //            rows += `<div class="carousel-item">
                                        //    <img class="d-block w-100" alt="Carousel Bootstrap First" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1566561994/rest.png" />
                                        //    <div class="carousel-caption">
                                        //        <h4> Restaurant View </h4>
                                        //        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                        //    </div>
                                        //</div>  `;
                                                    topSlider += `<li data-slide-to= "` + index + `" data-target="#carousel-554496" class="active"> </li> `;
                                                    bottomSlider += ` <div class="carousel-item">
                                <img class="d-block w-100" alt="Carousel Bootstrap First" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1566561994/rest.png" />
                                <div class="carousel-caption">
                                    <h4> Restaurant View </h4>
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                </div>
                            </div> `;

                                                    index++;


                                                }); //End of foreach Loop

                                rows += `

                        <ol class="carousel-indicators">
                            `+ topSlider + `
                        </ol>
                        <div class="carousel-inner">
                             `+ bottomSlider + `
                        </div>
                      `;
                                $("#advertiseSlider").html(rows);
                                console.log(rows);
                                console.log(data);


                            },

                            failure: function (data) {
                                alert(data.responseText);
                            }, //End of AJAX failure function
                            error: function (data) {
                                alert(data.responseText);
                            } //End of AJAX error function

                        });
                    }







                }*@
</script>

